.nav {
    background-color: rgb(236, 199, 199);
    display: flex;
    justify-content: space-between;
}

.nav_container a:hover {
    margin: 0 10px;
    color: brown;
}

.next {
    font-size: 30px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main__img {}